body {background-color: powderblue;}
h2   {color: blue;background-color: green; border:2px solid red ;padding:1px}//The CSS padding property defines a padding (space) between the text and the border.
p    {color: red;font-family:arial;}